data
/JMKIM/wandb
/JMKIM/catboost_info
/JMKIM/data.zip
/dkt/wnadb
/dkt/models
/lightgcn/wandb
/lightgcn/weight
/lightgcn/nohup_optuna.out
/lightgcn/nohup.out
/lightgcn/run.log
/lightgcn/run_optuna.log