# code
.ipynb_checkpoints
# dkt
Model/dkt/__pycache__
Model/dkt/.ipynb_checkpoints
Model/dkt/asset/*
Model/dkt/models/*
Model/dkt/output/*
Model/dkt/wandb/*
Model/dkt/src/__pycache__
Model/dkt/src/.ipynb_checkpoints
# lightgcn
Model/lightgcn/.ipynb_checkpoints
Model/lightgcn/__pycache__
Model/lightgcn/output/*
Model/lightgcn/wandb/*
Model/lightgcn/lightgcn/__pycache__
Model/lightgcn/lightgcn/.ipynb_checkpoints
Model/lightgcn/weight
Model/lightgcn/run.log